.songsContainer-row {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.songsContainer-column {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.orientationBtn{
    background-color:#e0fc00;
    width: 40%;
    height: 40px;
    font-family: "Montserrat";
    border: none;
    font-weight: bold;
    margin-bottom: 30px;
    transition: all .2s ease-in-out;
}

.orientationBtn:hover{
    opacity: 50%;
    cursor: pointer;
    transform: scale(1.05);
}

.buttonContainer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.addButton{
    background-color: #e0fc00;
    width: 40%;
    height: 40px;
    font-family: "Montserrat";
    border: none;
    transition: all .2s ease-in-out;
    margin-top: 50px;
    font-weight: bold;
}

.addButton:hover{
    opacity: 50%;
    cursor: pointer;
    transform: scale(1.05);
}