@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.footer {
    width: auto;
    height: 200px;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.info{
    color:#e0fc00 ;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 14px;
}

