@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.song{
    width: 20%;
    margin: 5px;
    transition: all .2s ease-in-out;
}

.song:hover{
    transform: scale(1.05);
}

button{
    margin-left: 90%;
    margin-top: 2%;
    border-radius: 30px;
    text-decoration: none;
    border:0px solid;
    background-color: #e0fc00;
}

button:hover{
    opacity: 50%;
    cursor: pointer;
}

img{
    width: 100%;
    border-radius: 180px;
}

h4{
    font-family: "Montserrat";
    color: #e0fc00;
    font-size: 20px;
    margin-bottom: 0%;
}

.more{
    color:#e0fc00;
    font-family: "Montserrat";
    font-size: 16px;
    margin-top: 3%;
}

.more:hover{
    opacity: 50%;
    cursor: pointer;
}

.show{
    display: block;
    color: #e0fc00;
    font-size: 14px;
}

.hide{
    display: none;
    color: #e0fc00;
}








