@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.song-row{
    width: 15%;
    padding: 3%;
    justify-content: space-between;
    margin: 10px;
    transition: all .2s ease-in-out;
    background-color:#141414;
    border-radius: 5%;
}

.song-column{
    width: 15%;
    padding: 3%;
    margin: 10px;
    transition: all .2s ease-in-out;
    background-color:#141414;
    border-radius: 5%;

}



.song-row:hover,.song-column:hover{
    transform: scale(1.05);
}

.deleteButton{
    margin-left: 90%;
    margin-top: 2%;
    border-radius: 180px;
    text-decoration: none;
    border:0px solid;
    background-color: #e0fc00;
}

.deleteButton:hover{
    opacity: 50%;
    cursor: pointer;
}

.imgSong{
    width: 100%;
    border-radius: 180px;
}

h4{
    font-family: "Montserrat";
    color: #e0fc00;
    font-size: 20px;
    margin-bottom: 0%;
}

.more{
    color:#e0fc00;
    font-family: "Montserrat";
    font-size: 16px;
    margin-top: 3%;
}

.more:hover{
    opacity: 50%;
    cursor: pointer;
}

.show{
    display: block;
    color: #e0fc00;
    font-size: 14px;
}

.hide{
    display: none;
    color: #e0fc00;
}








