@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    height: 150px;
    font-family: "Montserrat";
}

.logo{
    width: 90px;
    margin: 30px;
}